.content-wrapper {
  grid-column: 3 / span 8;
}

.mapList {
  width: 100%;
}

.mapList__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;
  border-bottom: 1px solid #5c5c5c;
}

.map__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card--block {
  display: block
}

.modal--component {
  @media screen and (min-width: 1024px) { 
    top: 10%;
    left: 30%;
    right: 30%;
    bottom: auto;
   }
}

.modal--confirm {
  @media screen and (min-width: 1024px) { 
    top: 10%;
    left: 30%;
    right: 30%;
    bottom: auto;
   }
}